@use "sass:map";
@use "variables" as var;
@use "mixin" as mix;

.gallery-section {
  width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
  overflow: hidden;
}

article {
  float: left;
  overflow: hidden;
}

.article-1 {
  width: 700px;
  height: 400px;
  position: relative;
  background-image: url(../img/700x400.png);

  .Merry_Christmas {
    position: absolute;
  }
}

.article-2 {
  width: 290px;
  height: 190px;
  position: relative;
  background-image: url(../img/290x190.png);

  .Frozen {
    position: absolute;
  }
}

.article-3 {
  width: 290px;
  height: 95px;
  position: relative;

  .Present {
    position: absolute;
  }
}

.article-4 {
  width: 490px;
  height: 500px;
}

.article-4-x {
  width: 490px;
  height: 240px;
  position: relative;

  .Programmer {
    position: absolute;
    width: 300px;
    top: 160px;
    @include mix.pos-center($y: false);
  }

  .BE_RICH {
    position: absolute;
  }
}

.article-5 {
  width: 500px;
  height: 490px;
  background-image: url(../img/500x490.png);
}

.article-6 {
  width: 1000px;
  height: 371px;
  position: relative;
  background-image: url(../img/1000x371.png);

  .YOURS {
    position: absolute;
    width: 686px;
    height: 60px;
    @include mix.pos-center();
    text-shadow: 2px 2px 2px map.get(var.$colors, "black");
  }
}

.article-7 {
  width: 1000px;
  height: 361px;
  position: relative;
  background-image: url(../img/1000x361.png);

  .Programmer_2 {
    position: absolute;
    width: 450px;
    height: 150px;
  }
}
