@use "sass:map";
@use "variables" as var;

.header {
  width: 100%;
  border-bottom: solid 1px map.get(var.$colors, "black");

  .header_inner {
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    position: relative;
  }
}

.header_logo {
  position: absolute;
}

@mixin navigation-style($color: black, $hover-color: red, $padding: 0 40px) {
  position: absolute;
  ul li {
    float: left;
    padding: $padding;
    a {
      color: $color;
    }
    &:hover {
      text-decoration: underline;
      a {
        color: $hover-color;
      }
    }
  }
}

.header_gnb {
  font-weight: bold;
  @include navigation-style;

  ul {
    display: inline-block;
    height: 31.2px;
  }
}

.header_utility-bar {
  @include navigation-style(
    map.get(var.$colors, "darkgray"),
    map.get(var.$colors, "red"),
    0 10px
  );
}

.header--gallery {
  position: fixed;
  background-color: map.get(var.$colors, "white");
  z-index: 1;

  .header_logo {
    h1 {
      a {
        color: map.get(var.$colors, "black");
      }
      &:hover {
        text-decoration: underline;
        a {
          color: map.get(var.$colors, "red");
        }
      }
    }
  }

  .header_gnb {
    ul li:nth-child(2) {
      color: map.get(var.$colors, "black");
      &:hover {
        text-decoration: none;
      }
    }
  }
}
