@use "sass:map";
@use "variables" as var;
@use "mixin" as mix;

#main-image {
  width: 100%;
  height: 590px;
  position: relative;
  overflow: hidden;
  background-image: url(../img/bg_main.png);

  .image-base {
    width: 800px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 150px;
    @include mix.pos-center($y: false);
  }
}

.home-section {
  width: 1180px;
  height: 450px;
  margin: 0 auto;

  .article-img-box {
    width: 230px;
    float: left;
    margin: map.get(var.$spacings, 1) 32.5px;
  }
}

footer {
  width: 100%;
  background-color: map.get(var.$colors, "black");

  .footer_inner {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    position: relative;
  }
}

.footer_logo {
  position: absolute;
}

.footer_menu-bar {
  @include mix.navigation-style(
    map.get(var.$colors, "gray"),
    map.get(var.$colors, "yellow"),
    0 10px
  );
}

.footer_address {
  position: absolute;
}
