* {
  margin: 0px;
  padding: 0px;
  font-family: verdana;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
header {
  width: 100%;
  border-bottom: solid 1px black;
  position: fixed;
  background-color: white;
  z-index: 1;
}
#header_base {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
.header_logo{
  position: absolute;
  left: 10px; bottom: 15px;
}
.header_logo h1 a {
  color: black;
}
.header_logo h1:hover {
  text-decoration: underline;
}
.header_logo h1:hover a {
  color: red;
}
.global_navigation_bar {
  position: absolute;
  right: 0px; bottom: 0px;
  font-size: 16px;
  font-weight: bold;
}
.global_navigation_bar ul {
  display: inline-block;
  height: 31.2px;
}
.global_navigation_bar ul li {
  float: left;
  padding: 0px 40px;
}
.global_navigation_bar ul li a {
  color: black;
}
.global_navigation_bar ul li:hover {
  text-decoration: underline;
}
.global_navigation_bar ul li:hover:nth-child(2) {
  text-decoration: none;
}
.global_navigation_bar ul li:hover a {
  color: red;
}
.utility_bar {
  position: absolute;
  right: 30px; top: 20px;
  font-size: 14px;
}
.utility_bar ul li {
  float: left;
  padding: 0px 10px;
}
.utility_bar ul li a {
  color: darkgray;
}
.utility_bar ul li:hover {
  text-decoration: underline;
}
.utility_bar ul li:hover a {
  color: red;
}
section {
  width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
  overflow: hidden;
}
article {
  float: left;
  overflow: hidden;
}
.article_1 {
  width: 700px;
  height: 400px;
  background-image: url(700x400.png);
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.Merry_Christmas {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.article_2 {
  width: 290px;
  height: 190px;
  background-image: url(290x190.png);
  margin-top: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
   position: relative;
}
.Frozen {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.article_3 {
  width: 290px;
  height: 95px;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}
.Present {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.article_4 {
  width: 490px;
  height: 500px;
}
.article_4-x {
  width: 490px;
  height: 240px;
  margin-bottom: 10px;
  position: relative;
}
.Programmer {
  position: absolute;
  width: 300px;
  top: 160px; left: 50%;
  margin-left: -150px;
}
.BE_RICH {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 30px;
  color: gold;
  font-weight: bold;
}
.article_5 {
  width: 500px;
  height: 490px;
  background-image: url(500x490.png);
  margin-left: 10px;
  margin-bottom: 10px;
}
.article_6 {
  width: 1000px;
  height: 371px;
  background-image: url(1000x371.png);
  margin-bottom: 10px;
  position: relative;
}
.YOURS {
  position: absolute;
  width: 676px;
  height: 60px;
  top: 50%; left: 50%;
  margin-top: -30px;
  margin-left: -338px;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}
.article_7 {
  width: 1000px;
  height: 361px;
  background-image: url(1000x361.png);
  margin-bottom: 10px;
  position: relative;
}
.Programmer_2 {
  position: absolute;
  width: 450px;
  height: 150px;
  right: 30px;
  bottom: 40px;
  font-size: 20px;
  color: white;
}
.Programmer_2 b {
  font-size: 30px;
}
